NavWidget{
    border-right: 1px solid #21262d;
}
MenuWidget{
    border-radius: 12px;
}
MenuWidget:hover{
    background-color: #0c2d6b;
    border-radius: 12px;
}
MenuWidget:pressed{
    background-color: #092354;
}
